.controls {
  top: 50%;
  transform: translateY(-50%);
}

.control {
  margin: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  height: 40px;
  width: 40px;
  color: var(--mantine-color-default-color);
  background-color: var(--mantine-color-dark-filled);
  border: none;
}

.indicator {
  width: 8px;
  height: 8px;
  transition: width 250ms ease;

  &[data-active] {
    width: 30px;
  }
}

.indicators {
  flex-wrap: wrap;
  padding: 0 var(--mantine-spacing-xl);
}

.root {
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
}