.controls {
  height: 100%;
  top: 0;
}

.control {
  border-radius: 0;
  height: 100%;
}

.indicator {
  width: 8px;
  height: 8px;
  transition: width 250ms ease;

  &[data-active] {
    width: 30px;
  }
}

.indicators {
  flex-wrap: wrap;
  padding: 0 var(--mantine-spacing-xl);
}

.root {
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
}
