@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8%);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }
}

.icon {
  animation: float 1.5s infinite ease-in-out;
}

.shadow {
  animation: shadow 1.5s infinite ease-in-out;
  background-color: var(--mantine-color-text);
  border-radius: 50%;
  height: 6%;
  width: 58%;
  opacity: 0.2;
}
