.emptyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.importButton {
  margin-top: var(--mantine-spacing-md);
}

.cardContainer {
  padding: var(--mantine-spacing-xs);
}

.card {
  height: 100%;
  width: auto;
}

.aspectRatio {
  display: flex;
  justify-content: center;
  height: 100%;
}

.cover {
  width: auto;
  height: 100%;
}
