.container {
  min-height: 100%;
  overflow-y: auto;
  padding: 0 0 var(--mantine-spacing-md) var(--mantine-spacing-md);
  width: 100%;
}

.container > * {
  flex-shrink: 0;
  min-height: fit-content;
}

.contained {
  padding-right: var(--mantine-spacing-md);
}
