POSTGRES_DB=stakload
POSTGRES_USER=stakload
POSTGRES_PASSWORD=stakload
POSTGRES_PORT=5432

API_WEBHOOK_PORT=3001
DATABASE_SYNCHRONIZE=true
NODE_ENV=development
LOG_LEVEL=info
PUBLIC_WEBHOOK_BASE_URL=http://localhost:3001
IGDB_SCHEDULED_SYNC_ENABLED=false

IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
IGDB_WEBHOOK_SECRET=
