.tabs {
  flex-grow: 1;
}

.tabPanel {
  padding-top: var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
}

.tab {
  z-index: 1;
  color: inherit;

  &[data-active] {
    border-color: transparent;
    color: inherti;

    &:hover {
      background: transparent;
    }
  }
}

.tabLabel,
.tabSection {
  pointer-events: none;
}

.indicator {
  background-color: var(--mantine-primary-color-filled);
  border-top-left-radius: var(--mantine-radius-md);
  border-bottom-left-radius: var(--mantine-radius-md);
}

.icon {
  width: 12px;
  height: 12px;
}