.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-weight: inherit;
}

.input {
  --input-height: var(--input-height-xs);
  height: var(--input-height-xs);
}
