.button {
  padding-left: var(--mantine-spacing-xs);

  &[data-variant="filled"] {
    .iconDefault {
      color: inherit;
    }
  }
}

.iconImage {
  width: 24px;
  height: 24px;
}

.iconDefault {
  color: var(--mantine-color-dimmed);
  width: 24px;
  height: 24px;
}
