.viewport {
  > div {
    display: flex !important;
    flex-direction: column;
  }
}

.responsiveContainer {
  width: 100%;
  max-width: 80em;
}

@container (max-width: 90em) {
  .responsiveContainer {
    max-width: 60em;
  }
}

@container (max-width: 64em) {
  .responsiveContainer {
    max-width: 40em;
  }
}
