.viewport {
  >div {
    display: flex !important;
    flex-direction: column;
  }
}

.responsiveContainer {
  width: 100%;
  max-width: 80em;
}

@container (max-width: 90em) {
  .responsiveContainer {
    max-width: 60em;
  }
}

.notifications {
  width: auto;
  min-width: 300px;
}

.notification {
  background-color: var(--color);
}

.notificationBody:has(:global(.custom-notification-body)) {
  margin-right: 0;
}

.notificationIcon {
  margin-right: var(--mantine-spacing-sm);
  margin-left: 4px;
}

.notificationLoader {
  margin-right: var(--mantine-spacing-sm);
  margin-left: 4px;
}