.navbar {
  background: none;
  padding: 0 var(--mantine-spacing-md) var(--mantine-spacing-md);
}

.card {
  height: 100%;
  padding: 0 var(--mantine-spacing-md) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-xl);
  background: var(--color);
}

.logoContainer {
  align-items: center;
  flex-shrink: 0;
  height: 100px;
  justify-content: center;
}

.quickLaunch {
  margin-top: 60px;
}

.search {
  flex-shrink: 0;
  margin-bottom: 32px;
}
