.aspectRatio {
  height: 100%;
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
}

.hoverEffect {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.04);
  }
}

.emptyContainer {
  background-color: var(--mantine-color-dark-5);
  border-radius: var(--mantine-radius-md);
  color: var(--mantine-color-white);
  height: 100%;
  overflow: hidden;
  padding-bottom: calc(100%/(3/4));
  position: relative;
  text-decoration: none;
  width: 100%;
}

.emptyIcon {
  left: 50%;
  opacity: 0.4;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 90%;
  height: 90%;
}

.emptyText {
  position: absolute;
  bottom: var(--mantine-spacing-sm);
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

.link {
  text-decoration: none;
}