.aspectRatio {
  height: 100%;
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
}

.hoverEffect {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.clickable {
  cursor: pointer;
}

.emptyContainer {
  align-items: center;
  justify-content: flex-end;
  background-color: #1b2c3b;
  color: var(--mantine-color-white);
  height: 100%;
  overflow: hidden;
  padding-bottom: calc(100% / (3 / 4));
  position: relative;
  text-decoration: none;
  width: 100%;
}

.emptyIcon {
  left: 50%;
  opacity: 0.4;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 70%;
  height: 90%;

  &.centred {
    height: auto;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.emptyText {
  position: absolute;
  bottom: var(--mantine-spacing-sm);
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}