.container {
  width: 100%;
  padding: 0;
  -webkit-app-region: drag;
  user-select: none;
  justify-content: flex-end;
}

.inner {
  -webkit-app-region: no-drag;
}

.icon {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  width: auto;
  height: auto;
  border-radius: 0;

  &.closed:hover {
    background: var(--mantine-color-red-filled);
  }
}
