.container {
  background-color: #1b2c3b;
  border-radius: var(--mantine-radius-lg);
  box-shadow: var(--mantine-shadow-sm);
  gap: var(--mantine-spacing-xs);
  padding: var(--mantine-spacing-sm);
}

.loader {
  margin: 6px;
}
