.navLink {
  padding: 10px var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  color: #a0a7a9;
  font-weight: bold;

  &.active {
    color: currentColor;
    background-color: #1b2c3b;
  }

  &:hover {
    color: currentColor;
    background-color: #1b2c3b;
  }
}
