.container {
  padding: var(--mantine-spacing-md) var(--mantine-spacing-lg) var(--mantine-spacing-lg);
  background-color: rgb(80 80 80 / 28%);

  +.container {
    margin-top: var(--mantine-spacing-lg);
  }
}

.title {
  margin-bottom: var(--mantine-spacing-sm);
}