:root {
  --focus-border: var(--mantine-primary-color-filled);
  --separator-border: var(--app-shell-border-color);
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
