.container {
  background-color: var(--mantine-color-white);
  border-radius: var(--mantine-radius-md);
  padding-left: var(--mantine-spacing-sm);
  padding-right: var(--mantine-spacing-sm);
  user-select: none;
}

.logo {
  display: inline-block;
  font-weight: 900;
  text-decoration: none;
}
