.container {
  background-color: var(--mantine-color-white);
  border-radius: var(--mantine-radius-md);
  padding-left: var(--mantine-spacing-sm);
  padding-right: var(--mantine-spacing-sm);
}

.logo {
  display: inline-block;
  font-weight: 900;
  text-decoration: none;
}

.gradient {
  background: linear-gradient(156deg, var(--mantine-color-grape-filled), var(--mantine-color-blue-filled));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
