.root {
  height: 34px;
  padding-left: var(--mantine-spacing-sm);
  padding-right: 4px;
  border-radius: var(--mantine-radius-md);
  color: var(--mantine-color-placeholder);
  border: 1px solid;
  width: 100%;
  border-color: var(--mantine-color-dark-4);
  background-color: var(--mantine-color-dark-6);
}

.text {
  flex: 1;
}

.shortcut {
  font-size: 11px;
  line-height: 1;
  padding: 4px 7px;
  border-radius: var(--mantine-radius-sm);
  border: 1px solid;
  font-weight: bold;
  color: var(--mantine-color-dark-0);
  border-color: var(--mantine-color-dark-7);
  background-color: var(--mantine-color-dark-7);
}
