.container {
  gap: var(--mantine-spacing-xs);
  align-items: flex-start;
  flex-wrap: nowrap;
}

.body {
  justify-content: space-between;
  flex-grow: 1;
}

.icon {
  flex-shrink: 0;
  height: 44px;
}

.stack {
  gap: 0;
  flex: 1;
  margin-right: var(--mantine-spacing-xs);
}

.title {
  color: var(--mantine-color-white);
  font-size: var(--mantine-font-size-sm);
}

.message {
  color: var(--mantine-color-dark-2);
  font-size: var(--mantine-font-size-sm);
}
