.container {
  margin-bottom: var(--mantine-spacing-sm);
}

.button {
  background-color: transparent;

  &.active {
    outline: 2px solid var(--mantine-primary-color-contrast);
  }
}

.text {
  font-size: var(--mantine-font-size-sm);
}
