.container {
  padding-right: var(--mantine-spacing-md);
  height: 100%;
  width: 100%;
}

.leftContainer {
  flex: 1 1 auto;
  min-width: 0;
  padding-right: var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
}

.rightContainer {
  flex: 0 0 auto;
}
