.title {
  margin-bottom: var(--mantine-spacing-md);
}

.buttonContainer {
  margin-top: var(--mantine-spacing-md);
}

.select {
  margin-bottom: var(--mantine-spacing-xs);
}

.filtersButton {
  background-color: #1b2c3b;
  height: 40px;
  width: 60px;
}