.title {
  margin-bottom: var(--mantine-spacing-md);
}

.select {
  margin-bottom: var(--mantine-spacing-xs);
}

.pill {
  padding: 0 var(--mantine-spacing-sm);
  background-color: transparent;
  border: 1px solid currentColor;
  color: var(--mantine-color-text);
  cursor: pointer;

  &.active,
  &:hover {
    color: var(--mantine-color-white);
  }
}

.pillInner {
  height: 100%;
}
