.input {
  color: currentColor;
  background-color: #15202c;
  border: none;
  border-radius: var(--mantine-radius-lg);
  height: 55px;
  padding-left: 50px;

  &::placeholder {
    color: #a1a7ae;
  }
}

.section[data-position="left"] {
  color: currentColor;
  justify-content: flex-end;
  width: 40px;
}

.section[data-position="right"] {
  color: currentColor;
  justify-content: flex-start;
  width: 70px;
}

.filtersButton {
  background-color: #1b2c3b;
  height: 40px;
  width: 60px;
}
