:root {
  --scrollbar-width: 6px;
  --color: #15202c;
}

* {
  ::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: var(--mantine-radius-xs);
    background: var(--mantine-color-gray-0);
  }
}


html,
body {
  background: transparent !important;
  margin: 0;
  padding: 0;
}

#root {
  background: #0d171f;
  border-radius: var(--mantine-radius-xl);
  overflow: hidden;
  user-select: none;
}