.navbar {
  background: none;
  border: none;
  padding: var(--mantine-spacing-md);
}

.card {
  height: 100%;
  padding: 0 var(--mantine-spacing-md) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-xl);
  background: #15202c;
}

.logoContainer {
  align-items: center;
  flex-shrink: 0;
  height: 100px;
  justify-content: center;
}

.quickAccess {
  margin-top: 60px;
}
