.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline-start: var(--app-shell-navbar-offset, 0rem);
  padding-inline-end: 0;
  padding-top: calc(var(--app-shell-header-offset, 0rem) + var(--mantine-spacing-xl));
  padding-bottom: var(--app-shell-footer-offset, 0rem);
}

.header {
  border: none;
  background: none;
}

.gameInfo {
  padding-left: 100px;
}

.container {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.navbar {
  border: none;
  background: none;
}

.footer {
  border: none;
  background: none;
}

.title {
  margin-bottom: var(--mantine-spacing-md);
  line-height: var(--mantine-line-height-xs);
  color: var(--mantine-color-default-color);
  font-weight: 900;
  font-size: 3rem;
  width: 100%;
  max-width: 80%;
  text-shadow: #000 0px 0px 0.2rem;
  opacity: 0.7;
  line-clamp: 2;
  text-wrap: balance;
}