.checkbox {
  margin-bottom: var(--mantine-spacing-sm);
}

.checkboxBody {
  display: flex;
  justify-content: space-between;
}

.checkboxLabelWrapper {
  flex: 1;
}

.infoIcon {
  margin-left: 2px;
  width: 12px;
  height: 12px;
}

.infoTooltip {
  max-width: 300px;
}
