.button {
  background: var(--mantine-color-dark-light-hover);
  border: none;
}

.focused {
  background-color: var(--ai-hover, var(--mantine-primary-color-filled-hover));
  color: var(--ai-hover-color, var(--ai-color));
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.active {
  background: var(--mantine-primary-color-filled);

  &:hover {
    background: var(--mantine-primary-color-filled);
  }
}
