.container {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  width: 100%;
}

.actionIcon {
  background-color: var(--color);
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-xs);
  width: auto;
  height: auto;
}

.title {
  cursor: text;
  font-size: var(--mantine-h1-font-size);
  font-weight: var(--mantine-h1-font-weight);
  line-height: var(--mantine-h1-line-height);
  outline: none;
  position: relative;
  user-select: none;

  &::after {
    border-bottom: 2px dashed rgba(255, 255, 255, 0.25);
    bottom: -2px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
  }

  &.active::after,
  &:hover::after {
    border-color: currentColor;
  }
}
