.container {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  width: 100%;
}

.header {
  padding: 0 var(--mantine-spacing-md);
}

.actionIcon {
  background-color: var(--color);
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-xs);
  width: auto;
  height: auto;
}

.title {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.25);
  cursor: text;
  font-size: var(--mantine-h1-font-size);
  font-weight: var(--mantine-h1-font-weight);
  line-height: var(--mantine-h1-line-height);
  margin: 0;
  outline: none;
  user-select: none;

  &.active,
  &:hover {
    border-color: currentColor;
  }
}
