.controls {
  gap: 4px;
  top: auto;
  bottom: 100%;
  padding: 0 var(--mantine-spacing-md) var(--mantine-spacing-sm);
  inset-inline-start: unset;
}

.control {
  padding: var(--mantine-spacing-xs);
  opacity: 1;
  border-radius: var(--mantine-radius-md);
  background-color: var(--color);
  color: white;
  border: none;

  &:hover {
    background-color: #1b2c3b;
  }

  &[data-inactive="true"] {
    opacity: 0.5;
    pointer-events: none;
  }
}