.checkbox {
  margin-bottom: var(--mantine-spacing-sm);
}

.checkboxBody {
  display: flex;
  justify-content: space-between;
}

.checkboxLabelWrapper {
  flex: 1;
}

.divider {
  margin-top: var(--mantine-spacing-sm);
  margin-bottom: var(--mantine-spacing-sm);
}

.title {
  margin-bottom: var(--mantine-spacing-sm);
}
